<div class="home__container">
    <app-card gameCover="assets/game-1.webp"
    gameLabel="DIGITAL"
    gamePrice="R$129,90"
    gameType="DIGITAL PS4">
    </app-card>

    <app-card gameCover="assets/game-2.webp"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,90"
    gameType="DISC PS4"
    >
    </app-card>

    <app-card gameCover="assets/game-3.jpg"
    gameLabel="BEST OF THE YEAR"
    gamePrice="R$ 199,90"
    gameType="DISC PS5"
    >
    </app-card>
    
    <app-card gameCover="assets/game-4.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,90"
    gameType="DIGITAL ONLY"
    >
    </app-card>

    <app-card gameCover="assets/game-5.webp"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,90"
    gameType="DISC PS4"
    >
    </app-card>
    
    <app-card gameCover="assets/game-6.avif"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,90"
    gameType="DISC PS4"
    >
    </app-card>
    
</div>
